doctype html
html
    head
        title this is pug
        script(src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    body
        h1 testing h1
        p this is a paragraph
        br
        p my data is #{username2}
        b my html data is !{somehtml}
        br
        b #{country.name}
        br
        i #{country.capital}