<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='css/styles.css'/>
        <script src='js/scripts.js'></script>
        <title>{{title}}</title>
    </head>
    <body>
        <h1>This is h1 served using a stylesheet</h1>
        <h2>{{title}}</h2>
        <h3>{{name}}</h3>
        <h4>{{placeholder}}</h4>
    </body>
</html>